body{
    background-color: rgb(215, 207, 207);
}

.login {
   max-width: 400px;
   margin: 0 auto;
   background-color: white;
   padding: 50px;
   border-radius: 5px;
}

.signup, .edit {
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 50px;
    border-radius: 5px;
}

.alert {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.users, .pokes {
    background-color: white;
    padding: 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
}

.users h2, .pokes h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.container-fluid {
    display: flex;
    justify-content: center;
}

.list-style {
    list-style: none;
}
